{% extends '::base.html.twig' %}
{% block body%}
<br/>
<h1 align="center">Bienvenido al Foro<small>&nbsp;&nbsp;Ingesa o registrate ahora!!</small></h1>
<br/>
<div class="container">
<center>
<form class="formularioIngreso">
  <div class="form-group">
    <label for="exampleInputEmail1">Correo Electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
   <button type="submit" class="btn btn-success">Ingresar</button>
   <a href="{{path('usuarios_registro')}}">
   <button type="button" class="btn btn-warning">Registrarme</button>
   </a>
</form>

</center><br/>
<img src="/imagenes/imgIngreso.png" class="img-responsive" alt="Responsive image">
</div>
{% endblock %}